<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.fxc.pics.pic">

	<application
		android:theme="@style/test_AppTheme">
		<activity android:name=".picHome.PicActivity">
		</activity>
		<activity android:name=".picDetail.PicDetailActivity" />
	</application>

</manifest>