<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.fxc.pics.pic">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/pic_ic_launcher"
		android:label="@string/pic_app_name"
		android:roundIcon="@mipmap/pic_ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:name="debug.ModulePicApplication">
		<activity android:name=".picHome.PicActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".picDetail.PicDetailActivity" />
	</application>

</manifest>